{{!
    @template local_moderncommerce/block_management_toolbar


    @copyright  2025 Adebare Showemimo | adebareshowemimo@gmail.com | support@agunfoninteractivity.com
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="local-moderncommerce-block-toolbar">
    <a href="{{addurl}}" class="mc-button btn-mc-primary btn-sm" data-mc-button="primary" data-mc-button-size="sm">
        {{addlabel}}
    </a>
    <a href="{{reseturl}}" class="mc-button mc-btn-soft btn-sm"
       data-confirm="{{confirmreset}}" data-mc-button="soft" data-mc-button-size="sm">
        {{resetlabel}}
    </a>
</div>
