{{!
    This file is part of Moodle and is licensed under the
    GNU General Public License, version 3 or later.

    You may redistribute and modify it under the terms of the GPL.
    See the plugin root LICENSE file for complete terms.
}}
{{!
    @template local_moderncommerce/components/status_badge

    Backwards-compatible alias for the shared badge component.

    Context variables:
    * label      - Display label string
    * variant    - One of: primary, secondary, accent, success, warning, danger, info, neutral
    * tone       - Optional tone: subtle, soft, medium, strong
    * icon       - Optional Bootstrap icon class (e.g. "bi-check-circle")


    @copyright  2025 Adebare Showemimo | adebareshowemimo@gmail.com | support@agunfoninteractivity.com
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{> local_moderncommerce/components/badge }}
